<!DOCTYPE html>
<html lang ="en">
    <body>
        <% if @submitted && @all_ok%>
            <%= erb :adminAccount %>
        <% else %>
        <%= erb :adminheader %>
            
            <h1 class="override">Create An Admin Account</h1>
            <form action="create_admin" method="post">
                
                <div class="col-md-offset-5">
                  <div class="form-group col-md-4">
                    <div class="col">
                        <label for = "name">Enter full name:</label>
                        <input type="text" name="name" class="form-control" placeholder="John Smith">
                    </div>
                    <% if @submitted && !@name_ok %>
                         <p id='message' style = 'text-align:left;'>Please enter name.</p>
                    <%end%> 
                      
                    <div class="col">
                        <label for = "username">Enter username:</label>
                        <input type="text" name="username" class="form-control" placeholder="username">
                    </div>
                    <% if @submitted && !@username_ok %>
                         <p id='message' style = 'text-align:left;'>Invalid twitter handle.</p>
                    <%end%> 
                      
                    <div class="col">
                          <div class="input-group">
                              <label for = "password">Enter password:</label>
                          </div>
                        <input type="password" id="password1" name="password" class="form-control" placeholder="password">
                    </div>
                    <% if @submitted && !@password_ok %>
                         <p id='message' style = 'text-align:left;'>Please enter password.</p>
                    <%end%> 
                      
                    <div class="col">
                         <div class="input-group">
                             <label for="passwordRepeat">Re-enter password:</label>
                         </div>
                       <input type="password" id="password2" name="passwordRepeat" class="form-control" placeholder="password">
                    </div>
                    <% if @submitted && !@repeatpassword_ok %>
                         <p id='message' style = 'text-align:left;'>Passwords do not match.</p>
                    <%end%>   
                      
                    <a href= "/admin" class = "login-links">Admin Login</a>
                    <br/>
                      
                    <button type="submit" class="btn btn-info">Create</button>
                  </div>
                </div>
        </form>
        <%end%>
    </body>
    
</html>
