<!DOCTYPE html>
<html lang ="en">
<%= erb :header %>
    <style>
        footer {
          background-color: #555;
          color: white;
          padding: 2%;
        }
        
        .container-fluid{
            background-color: #222;
            color: white;
        }
        .container-fluid .text-center {
           background-color: #222;
           color: white;
           padding: 0%;
        }
        
        footer a{
            float: right;
        }
    </style>
    
    
    <footer class="container-fluid text-center">
        <a href="https://twitter.com/ise19team02"><i class="fa fa-twitter" style="font-size:40px;"></i></a>
        <div class="text-center py-3">© 2019 Copyright: Team 2</div>
    </footer>
</html>