<!DOCTYPE html>
<html lang ="en">
    <%= erb :userheader %>
    <body>
        <% if @reset && @userHandle_ok %>
            <p>Thank you for your resetting password request.</p>
        <% else %>
            <% if @reset && !@userHandle_ok %>
                <p id='message'>There were errors in your form, please try again.</p>
            <%end%>
            <h1>Reset Password</h1>
            <form action="reset_password" method="post">
                <div class="col-md-offset-5">
                  <div class="form-group col-md-4">
                    <div class="col">
                        <p>We will send you a direct message on twitter with your new password.</p>
                        <label for = "handle">Enter Twitter Handle:</label>
                        <input type="text" name="handle" class="form-control" placeholder="@example">
                    </div>
                    <a href= "/user" class = "login-links">User Login</a>
                    <br/>
                    <button type="submit" class="btn btn-info">Reset</button>
                  </div>
                </div>
            </form>
        <%end%>
    </body>
</html>